<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Go Student</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg py-3 shadow-sm">
        <div class="container">
            <a href="/" class="navbar-brand fw-semibold">Student</a>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item mx-3">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a href="/student" class="nav-link">Student</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card mt-5">
                    <div class="card-body">
                        <div class="/student">
                            <a href="/student" class="btn btn-primary">Kembali</a>
                        </div>
                        <form action="/student/create" method="post">
                            <h1 class="mb-4 mt-3">Student</h1>
                            <div class="mb-4">
                            <label>Nama</label>
                            <input autocomplete="off" type="text" class="form-control" name="nama" >
                        </div>
                        <div class="mb-4">
                            <label>Nis</label>
                            <input autocomplete="off" type="number" class="form-control" name="nis" >
                        </div>
                        <div class="mb-4">
                            <label>Telp</label>
                            <input autocomplete="off" type="text" class="form-control" name="telp" >
                        </div>
                        <div class="">
                            <button type="submit" class="btn btn-primary w-100">Submit</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>
